<nav>
    <ul class="sidebar-nav">
        
        {{ $sections := .Site.Sections.ByTitle }}
        {{ range .Site.Params.menu }}
        {{ $menu_item := . }}
            {{ range $sections }}
                {{ if eq .Title $menu_item.Name }}
                    <li class="heading">
                        <a href="{{$menu_item.URL }}">{{ $menu_item.Name }}</a>
                    </li>
                    {{ if $menu_item.HasChildren }}
                        <li class="sub-heading">
                            {{ $menu_item.Pre }}
                        </li>
                        {{ range (first $menu_item.Limit .Pages) }}
                            <li class="bullet">
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}

    </ul>
</nav>
