<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poison.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/katex.min.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/tabs.css">
