<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poole.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/syntax.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/hyde.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/poison.css">
<link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css">
{{ if .Site.Params.katex }}
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/katex.min.css">
{{ end }}
