:root {
    --white: #dedddb;
    --green: #323c24;
    --grey: #88807e;
    --blue: #303c4c;
    --black: #262121;
}

@media (min-width: 48em) {
    .bullet {
        margin-left: 1em;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-thickness: 1%;
    }
    .sub-heading {
        margin-left: 1em;
    }
    .btn-light-dark svg {
        width: 1.4em;
        height: 1.4em;
        color: black;
        margin: 0.08em 0.2em;
        padding-top: 0.1em;
    }
}

@media (max-width: 48em) {
    .heading {
        font-weight: 400;
    }
    .entries {
        padding-left: 0em;
    }
    .btn-light-dark svg {
        width: 1.7em;
        height: 1.7em;
        color: black;
        margin: 0.08em 0.2em;
        padding-top: 0.1em;
    }
}

 /* Handles dark/light themes */
body {
    --text-color: #222;
    --bkg-color: #fff;
    --post-title-color: #303030;
    --list-color: #5a5a5a;
    --code-background-color: #f9f9f9;
    --code-color: #bf616a;
    --moon-color: #121212;
    --sun-color: #FFF9A6;
    --dark-gray: #121212;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
    --post-title-color: #DBE2E9;
    --list-color: #9d9d9d;
    --code-color: #ff7f7f;
    --code-background-color: #393D47;
    --moon-color: #FFF9A6;
    --sun-color: #121212;
}
body {
    background: var(--bkg-color);
}
h1, h2, h3, h4, h5, strong {
    color: var(--text-color);
}
.content p {
    color: var(--text-color);
}
.page-title, .post-title, .post-title a {
    color: var(--post-title-color);
}
.content li {
    color: var(--list-color);
}
.content code {
    color: var(--code-color);
    background-color: var(--code-background-color);
}
.btn-light-dark .moon {
    color: var(--moon-color);
}
.btn-light-dark .sun {
    color: var(--sun-color);
}
.btn-light-dark {
    border-radius: 5em;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: var(--list-color);
}
/* ************************** */
.sidebar-about {
    text-align: center;
}
.sidebar-about img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid #515151;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.social {
    margin-right: 0.5em;
    text-decoration: none !important;
}
.heading {
    margin-top: 1em;
}
.info span {
    display: inline-block;
}
.info ul {
    display: inline-block;
    float: right;
}
.info ul li {
    margin-left: 0.5em;
}
.tags {
    padding-left: 0em;
}
.tags li {
    display: inline;
    text-decoration: none;
}
.tags li a {
    color: white;
    display: inline-block;
    padding: 0em 0.7em;
    text-align: center;
    font-size: 0.7em;
    background-color: var(--list-color);
    border-radius: 0.2em;
}
.entries li {
    display: flex;
}
.entries li .title {
    order: 1;
}
.entries li .published {
    order: 3;
}
.entries li::after {
    background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
    background-position: bottom;
    background-size: 1ex 3.5px;
    background-repeat: space no-repeat;
    content: "";
    flex-grow: 1;
    height: 1.1em;
    order: 2;
}
.article-toc {
    display: none;
    position: fixed;
    left: 50%;
    top: 110px;
    font-size: 0.9em;
    width: 20em;
    margin-left: 400px;
    padding-left: 20px;
    overflow-y: auto;
    line-height: 1.4em;
    max-height: 85%;
}
.article-toc h4 {
    margin-left: 6em;
}
.article-toc li {
    list-style: none;
    margin-left: 20px;
    margin-top: 2px;
}
.article-toc li a {
    color: var(--text-color);
    text-decoration: none;
}
.article-toc li a.active {
    font-weight: bold;
}
#TableOfContents {
    margin-left: 5em;
}
@media screen and (min-width: 100em) {
    .article-toc {
        display: block;
    }
}
.next-post {
    float: right;
}
.content pre code {
    color: white;
    white-space: pre;
}
div.highlight pre {
    overflow-x: scroll;
}
