<div class="info">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>

  <div class="headline">
    <div>
      {{ if .Params.author }}
        {{ if .Site.Taxonomies.author }}
          <span><a href="{{ .Site.BaseURL }}author/{{ .Params.author | urlize }}">{{ .Params.author }}</a> - </span>
        {{ else }}
          <span>{{ .Params.author }} - </span>
        {{ end }}
      {{ end }}
      {{ if .Date }}
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z0700" }}" class="post-date">
        {{ .Date.Format "January 2, 2006" }}
      </time>
      {{ end }}
      <span> - </span>
      <span class="reading-time">
        {{ if gt .ReadingTime 1 }}
          {{ .Scratch.Set "readingTime" "mins" }}
        {{ else }}
          {{ .Scratch.Set "readingTime" "min" }}
        {{ end }}

        <span>{{ .ReadingTime }} {{ .Scratch.Get "readingTime" }} read</span>
      </span>
    </div>

    {{ if .Params.tags }}
    <ul class="tags">
      {{ range .Params.tags }}
      <li class="tag-{{ . }}">
        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>

  {{ $Site := .Site }}
  {{ if .Params.series }}
  <p class="seriesname">
    Series: <a href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
  </p>
  {{ end }}

  {{ if .Params.featuredImage }}
  <p>
    <img src="{{.Params.featuredImage}}"><br>
  </p>
  {{ end }}
</div>
