{{ define "main" -}}

<div class="home">
    {{ with .Site.GetPage "/home" }}
        <h1 class="post-title">{{ .Title }}</h1>
        {{ .Content }}
    {{ end }}
</div>


<!--div class="posts">
    {{ range where .Paginator.Pages "Section" "eq" "posts" }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ .Summary }}
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
    </article>
    {{- end }}
</div-->
{{- end }}
