{{ $tabTotal := .Get "tabTotal" }}
{{ $tabName := .Scratch.Get "tabName" }}
{{ $tabContent := .Scratch.Get "tabContent" }}
{{ $tabID := .Scratch.Get "tabID" }}

<div class="tabs-container">
    <div class="tabs" role="tablist">

	    {{ range $i, $sequence := (seq $tabTotal) }}
        
            {{ if eq $i 0 }}
            <button class="tab active" id="{{ (index $tabID $i) }}">
            {{ else }}
            <button class="tab" id="{{ (index $tabID $i) }}">
            {{ end }}

                {{ index $tabName $i }}
            </button>

	    {{ end }}

    </div>

    {{ range $i, $sequence := (seq $tabTotal) }}
    
        {{ if eq $i 0 }}
            <div class="tabcontent {{ (index $tabID $i) }}" style="display:block;">
        {{ else }}
            <div class="tabcontent {{ (index $tabID $i) }}">
        {{ end }}

        {{ (index $tabContent $i) }}
        {{ if $.Inner }}
        {{ end }}
    </div>
    {{ end }}
</div>
